<footer class="site-footer">

  <hr class="footer-divider">
  <div class="container" id="footer">
    <footer>
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2019 Eric Shen</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <a href="{{ site.linkedinlink }}">LinkedIn</a> &middot; 
            <a href="{{ site.githublink }}">GitHub</a>
          </p>
        </div>
      </div>
    </footer>
  </div>

</footer>
